.BelowGameBoard {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
}

.BelowGameBoard__ButtonsBar {
  display: block;
  margin: 1rem auto;
}

.BelowGameBoard__ButtonsBar button {
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}