.App {
  position: relative;
  background-color: #111;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  line-height: 1em;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 0;
  background-color: #fff;
  color: #111;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}